:root {
    --cortittle: rgb(109, 7, 7);
    --corbody: white;
    --corfooter: yellow;
    --cortexto: black;
}
@font-face {
    font-family: 'Stay Dreaming';
    src: url('Stay\ Dreaming.otf') format('truetype');
  }
  @font-face {
    font-family: 'REQUEMA';
    src: url('REQUEMA.otf') format('truetype');
  }
/* SECTION -  COMEÇO CABEÇALHO */
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Share+Tech+Mono&display=swap');

    @keyframes rodaroda {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(180deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
    a{
      text-decoration: none;
      color:white;
  }
    body {
        background-color: none;
        border: none;
        outline: 0;
      
        height: 100%;
        margin: 0PX;
        padding: 0PX;
        width: 1025px;
    }

    .COMEÇO {
        text-align: center;
        align-items: center;
        width: 100vw;
        background: radial-gradient(circle, rgba(0,0,0,1) 16%, rgb(37, 35, 35) 51%);
        animation: AnimationName1 16s linear infinite;
        background-size: 400% 400%; 
        height: 110PX;
        margin: 0px;
        padding-bottom: 5px;
        display: inline-block;
        flex-wrap: wrap;
        border-bottom: 2px solid black;
        border-top:2px solid black ;
        border-LEFT:2px solid rgb(0, 0, 0);
        border-right:2px solid rgb(0, 0, 0);
        display: flex;
      
    }

 
    .Logo {
        width: 80px;
        height: 80px;
  
        text-align: center;
        align-items: center;
        box-shadow: white 0px 3px 35px 2px;
        border-radius: 50px;
        position: relative;
margin-left: 160%;




    }

    .ArmadurasStark {
        margin: 0px;
        padding-top: 0px;
        padding-right: 20px;
        height: 0%;
        text-align: center;
        font-size: 17px;
        font-family: 'Share Tech Mono', monospace;
        color: white;
        font: weight 10px;
        text-shadow: rgb(0, 0, 0) 20px 20px 0px 20px;
        position: relative;
        margin-left: 142%;
        width: 200px;
    }

    

    .Logo:hover {

        animation: rodaroda 3.0s linear infinite;
    }

    .Logo-site {
    align-items: center;
        width: 25%;
        text-align: center;
        margin: 0px;
        padding: 0px;
    }

    .menu {
        text-align: left;
        margin: 0px;
        padding: 0px;
        margin: 0px;
    }

    .links {
        height: 100%;
        text-align: left;
    
        padding: 0px;
        font-size: 25px;
        color: #f9f9f9;
        text-shadow: rgb(5, 5, 5) 10px 10px 10px 10px;
     width: 100px;
     position: relative;

    }

    .dropdown {
       text-align: left;
       display: inline-block;
        color: rgb(255, 255, 255);
        text-shadow: white 10px 10px 10px 10px;
        font-family: 'Share Tech Mono', monospace;
        font-size: 25px;
        text-decoration: none;
        background: rgb(0,0,0);
      
       padding: 7px;
       border-radius: 10px;
       box-shadow: white 0px 1px 12px ;
       margin-top: 50px;
       margin-left: 10px;
    }   
    .dropdown:hover{
        transform: scale(1.025); ;
    }
    .produzido{
        font-size: 11px;
         font-family:'Allerta Stencil', sans-serif;
    
    }

    .dropdown-content {
        text-decoration: none;
        display: none;
        position: absolute;
        background-color: #000000e1;
        min-width: 160px;
        box-shadow: 8px 17px 25px 0px rgba(255, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 2;
        font-size: 20px;
     border-radius: 5px;
     border-left: solid 10px rgb(0, 0, 0) ;
color: white;
font-family: 'Allerta Stencil', sans-serif;
    }

    .dropdown:hover .dropdown-content {
        display: block;
        transition: 5s;
        color: white;
        text-decoration: none;
       margin-left: 0px;
      
    }

    .p {
        border-bottom: 4px solid rgb(0, 0, 0);
        padding-top: 5PX;
        padding-left: 5PX;
        padding-right: 5PX;
        padding-bottom: 10PX;
        margin: 0PX;
        text-decoration: none;
        color: white;
    }
    .p:hover{
        background: rgb(0,0,0);
        background: linear-gradient(117deg, rgba(0,0,0,0) 32%, rgba(255, 0, 0, 0.342) 100%);
        border-radius: 7px;
        font-size:21PX;
    }
    body {
        background-color: none;
        border: none;
        outline: 0;
       
        height: 100%;
        margin: 0PX;
        padding: 0PX;
        width: 1025px;
     
    }
    /* SECTION -  FIM CABEÇALHO */

/*MAin - Inicio */

.main-classicas{
    background-image: url(Classicas.png);
background-size: 1057px;
margin: 0px;
padding: 0px;
height: 100%;

width:1025px;
background-repeat: no-repeat;

margin-bottom: 50PX;
display: inline-block;
flex-direction: column;
min-height: 100%;
}
.main-tony{
    background-image: url(fundo7.png);
    background-size: 100vw;
    margin: 0px;
    padding: 0px;
    height: 100%;
    
    width:100vw;
    background-repeat: no-repeat;
    
    
    display: inline-block;
    flex-direction: column;
    min-height: 100%;}
.main{
    background-image: url(fundo6.png);
background-size: 100vw;
margin: 0px;
padding: 0px;
height: 100%;

width:100vw;
background-repeat: no-repeat;


display: inline-block;
flex-direction: column;
min-height: 100%;
}
.bemvindo{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
   margin-left: 32%;;
  
    width: 500px;
    padding-bottom: 0px;
    padding-top: 10px;
    font-size: 22px;
   
   
    text-align: center;
    align-items: center;
    margin-bottom: 10px;


    text-shadow: 0px 8px 8.5px  rgba(0, 0, 0, 0.233);
   
}
.bemvindo::first-letter{
    font-size: 40px;
    color: red;
    text-shadow: 0px 8px 8.5px  rgba(255, 0, 0, 0.623);
    font-family: 'Stay Dreaming';


}
.bemvindo2{
    font-family: Arial, Helvetica, sans-serif;

  width: 590px;
  text-align: center;
  padding-left: 205px;
  margin-top: 0px;
  padding-top: 10px;
  font-size: 22px;
  text-shadow: 0px 8px 8.5px  rgba(0, 0, 0, 0.247);
}
.bemvindo2::first-letter{
    font-size: 30px;
    color: red;
    text-shadow: 0px 8px 8.5px  rgba(255, 0, 0, 0.719);


}

.bemvindo3{
    font-family: Arial, Helvetica, sans-serif;

  width: 570px;
  text-align: center;
  padding-left: 225px;
  margin-top: 0px;
  padding-top: 0px;
  font-size: 22px;
  text-shadow: 0px 8px 8.5px  rgba(0, 0, 0, 0.247);
}
.bemvindo3::first-letter{
    font-size: 30px;
    color: red;
    text-shadow: 0px 8px 8.5px  rgba(255, 0, 0, 0.719);


}
.bemvindo4{
    font-family: Arial, Helvetica, sans-serif;

  width: 300px;
  text-align: center;
  padding-left: 325px;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 22px;
  text-shadow: 0px 8px 8.5px  rgba(0, 0, 0, 0.247);
}
.bemvindo4::first-letter{
    font-size: 30px;
    color: red;
    text-shadow: 0px 8px 8.5px  rgba(255, 0, 0, 0.719);
    font-family: 'Stay Dreaming';

}
.bemvindo4-main{
    font-family: Arial, Helvetica, sans-serif;

  width: 300px;
  text-align: center;
margin-left: 39%;
padding-bottom: 80px;
margin-bottom: 0px;
  font-size: 22px;
  text-shadow: 0px 8px 8.5px  rgba(0, 0, 0, 0.247);

}
.bemvindo4-main::first-letter{
    font-size: 30px;
    color: red;
    text-shadow: 0px 8px 8.5px  rgba(255, 0, 0, 0.719);
    font-family: 'Stay Dreaming';

}
.bemvindo5{
margin-left: 40%;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
  width: 300px;
  text-align: center;
 margin-bottom: 0px;
 padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 00px;
  font-size: 22px;
  text-shadow: 0px 8px 8.5px  rgba(0, 0, 0, 0.247);
}

.slide-controller:nth-child(1):checked ~ .slide-show .slides-list{--selected-item: 0;}
.slide-controller:nth-child(2):checked ~ .slide-show .slides-list{--selected-item: 1;}
.slide-controller:nth-child(3):checked ~ .slide-show .slides-list{--selected-item: 2;}
.slide-controller:nth-child(4):checked ~ .slide-show .slides-list{--selected-item: 3;}

.slide-show{
  overflow: hidden;
 

}
.slidecontraleer{
    text-align: center;
    align-items: center;
    margin-left: 20px;

}

.slidecontraleer1{
    display:inline-block;
    text-align: center;
    align-items: center;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 16%, rgba(167,12,12,0.8922413793103449) 51%);
  background-size: 400% 400%;
  animation: AnimationName 8s linear infinite;
padding: 5px;
width: 300px;
border-radius: 10px;
box-shadow: 5px 5px 15px black;

}

.slides-list{
  --selected-item: 0;
  --total-items: 4;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  position: relative;
  left: calc(var(--selected-item) * -100%);
  width: calc(var(--total-items) * 100%);
  transition: left 0.2s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  text-align: center;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;

}
.imagens{
    text-align: center;
    border-radius: 10px;
    width: 250px;
    height: 500px;
    box-shadow: 3px 3px 15px black;
}
.linksmain{
display: inline-block;
text-align: center;
background: rgb(0,0,0);
background: linear-gradient(117deg, rgba(0,0,0,1) 0%, rgba(65,62,62,1) 100%);
border: solid 1px rgba(0, 0, 0, 0.363);
color: white;
padding: 10px;
border-radius: 10px;
margin: 10px;
box-shadow: 10px 10px 20px black;
}
.linksmain1{
    display: inline-block;
    text-align: center;
    background: rgb(0,0,0);
    background: linear-gradient(117deg, rgba(0,0,0,1) 0%, rgba(65,62,62,1) 100%);
    border: solid 1px rgba(0, 0, 0, 0.363);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 10px 10px 20px black;
    
}
.linksmain:hover{
transform: scale(1.05) skew(-1.5deg,-1.5deg);

  box-shadow: 10px 10px 15px black;
 
  background: linear-gradient(117deg, rgba(0,0,0,1) 0%, rgba(113,10,10,1) 100%);
  background-size: 200% 200%;
  animation: AnimationName 2s linear infinite;
}

    

.linksmain1:hover{
    transform: scale(1.05) skew(1.5deg,1.5deg);
    
      box-shadow: 10px 10px 15px black;
     
   
      background: linear-gradient(117deg, rgba(0,0,0,1) 0%, rgba(113,10,10,1) 100%);
    background-size: 200% 200%;
    animation: AnimationName 2s linear infinite;
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName1 {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
#so{

    padding-top:20px ;
    padding-bottom: 17px;
    text-align: center;
    align-items: center;
}
.animation-main{
    
    text-align: center;
    align-items: center;
    width: 375px;
height: 375px;
display: inline-block;
border-radius: 20px;
border: solid rgb(255, 0, 0) 1px;
box-shadow: 0px 1.5px 20px black;
animation: piscapisca 3.0s linear infinite;


}
@keyframes piscapisca {
    0%{
border:solid 1.5px rgba(0, 0, 0, 0.719);

    }

    50%{
        border:solid 2px red;
    }

    100%{

        border:solid 1.25px rgb(114, 14, 14);
    }
    
    
}
.img-main{
    
    margin-top: 20px;
    text-align: center;
    margin-bottom: 0px;
    width: 200px;
height: 150px;

filter: drop-shadow(0px 1.5px 15px black);
}

/*Main - Fim */




    /*Footer -  Inicio rodape */
    .footer1 {
    
      
        text-align: center;
        background: radial-gradient(circle, rgba(0,0,0,1) 16%, rgb(37, 35, 35) 51%);
        animation: AnimationName1 16s linear infinite;
        background-size: 400% 400%; 
        bottom: 0px;
      width: 100vw;
        padding: 10PX;
        margin-top: auto;
        height: 135px;
        color: white;
        font-size: 12PX;
      text-shadow:white 5px 3px 20px 1px;
        color: rgba(255, 255, 255, 0.322);
        font-family:'Allerta Stencil', sans-serif;
      
    }

    .sobreeempresa {
        text-decoration: none;
        border: none;
        padding: 2px;
        text-shadow:white 5px 3px 20px 1px;
    }

    .rodapecontato {
        text-decoration: none;
        list-style: none;
        padding: 2px;
        background-color: black;
        border-radius: 5PX;
        padding: 4px;
    }

    

    .TEXTO-RODAPE2{
        font-size: 12PX;
      
        color: rgba(255, 255, 255, 0.322);
        font-family:'Allerta Stencil', sans-serif;
    }

.redes-sociais{
    width: 35px;
    height:35px;
    border-radius: 20px;

}
.redes-sociais1{
    width: 85px;
    height:85px;
    border-radius: 20px;
    text-align: center;


}
.redes-sociais1:hover{
 
    transform: skew(-2deg,-2deg);

}

.redes-sociais:hover{
    transform: skew(-5deg,-5deg);

}






    /*Footer - Fim rodape */
